*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-commands--specific/
!bash-commands--specific/setup--generate-configuration.sh
!bash-commands--specific/setup--upgrade-configuration.sh
!bash-util
!docker/
!docker/server--taiga-io/
!docker/server--taiga-io/rootfs/
!docker/server--taiga-io/rootfs/etc/
!docker/server--taiga-io/rootfs/etc/circus/
!docker/server--taiga-io/rootfs/etc/circus/conf.d/
!docker/server--taiga-io/rootfs/etc/circus/conf.d/taiga-celery.ini
!docker/server--taiga-io/rootfs/etc/circus/conf.d/taiga-events.ini
!docker/server--taiga-io/rootfs/etc/circus/conf.d/taiga.ini
!docker/server--taiga-io/rootfs/opt/
!docker/server--taiga-io/rootfs/opt/server--taiga-io/
!docker/server--taiga-io/rootfs/opt/server--taiga-io/entrypoint.sh
!docker/server--taiga-io/rootfs/opt/server--taiga-io/expose.sh
!docker/server--taiga-io/rootfs/opt/server--taiga-io/postgresql-move-data-directory.sh
!docker/server--taiga-io/rootfs/opt/server--taiga-io/re-echo.sh
!docker/server--taiga-io/rootfs/opt/server--taiga-io/wait-for-db.sh
!docker/server--taiga-io/rootfs/opt/server--taiga-io/wait-for-port.sh
!docker/server--taiga-io/rootfs/templates/
!docker/server--taiga-io/rootfs/templates/events-conf.json
!docker/server--taiga-io/rootfs/templates/frontend-conf.json
!docker/server--taiga-io/rootfs/templates/local.py
!docker/server--taiga-io/rootfs/templates/nginx.conf
!docker/server--taiga-io/default.docker
!docker-compose/
!docker-compose/server--taiga-io/
!docker-compose/server--taiga-io/default.docker-compose
!.gitignore
!.gitmodules
!container.env
!host.env
!LICENCE
!README.md
